@page "/"
@using Radzen
@using QLB.Models
@inject dbQLBContext dbcontext
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<RadzenNumeric @bind-Value="@baigiang.ID" Placeholder="Tiêu đề" Style="width: 100%" />
@code{
    private tbBaiGiang baigiang = new tbBaiGiang();
}
